html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: #212121;
    background-image: url('bg.png');
    color: #adadad;
    font-family: Helvetica, Arial, Tahoma, sans-serif;
    font-size: 62.5%;
}
h1 {
    font-size: 1.6em;
    margin: 0;
    text-shadow: 0 0.05em 0.1em rgba(255, 255, 255, 0.19);
}
h2 {
    margin: 8px 0 5px 0;
    font-size: 1em;
}
button{
    margin: 0;
    width: 100%;
}
li {
    float: left;
    list-style-type: none;
    padding: 2px;
}
table {
    text-align: center;
}


#maincontent{
    margin-left: 200px;
}
#maincontent img {
    max-height: 196px;
    max-width: 196px;
}


#sidebar{
    position: fixed;
    float: left;
    width: 200px;
}
.sidebarContent {
    margin: 5px;
    padding: 10px;
    background-color: #313131;
    border-radius: 3px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.35);
}
.infoSpan {
    float: right;
    line-height: 1.5em;
    font-size: 9px;
}


.imagearea {
    margin: 5px;
    padding: 5px;
    background-color: #313131;
    border-radius: 3px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.35);
    max-width: 1212px;
    display: inline-block;
}
.imageWrapper {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 196px;
    height: 196px;
    border: 1px dotted #212121;
}
.imageWrapper * {
    vertical-align: middle;
}


.progressBar {
    height: 8px;
}